#new-typeio-container
{
  width: 600px;
  margin-top:50px;
  margin-left: auto;
  margin-right:auto;
  padding:10px;
  background-color: #222222;
  border-radius: 5px;
}

#new-typeio-container label
{
  font-size: 24px;
}

#new-typeio-container .field
{
  margin-top: 10px;
}

#typeio-publish-button input
{
  width:150px;
  height:35px;
  font-size: 24px;
  background-color: #0f0f0f;
  border:none;
  padding:3px;
  padding-bottom: 5px;
  color:#68c5db;
  cursor: pointer;
  float:right;
  border-radius: 5px;
}

#typeio-cancel-button
{
  padding-top: 3px;
  width:150px;
  height:30px;
  font-size: 24px;
  background-color: #0f0f0f;
  border:none;
  color:#d7263d;
  cursor: pointer;
  text-align: center;
  float:left;
  border-radius: 5px;
}

#new-typeio-button-container
{
  width:400px;
  margin:auto;
  height: 30px;
  margin-bottom: 10px;
}

#new-typeio-container em
{
  color:#999999;
}

#typeio_subject
{
  background-color: #0f0f0f;
  border: none;
  overflow: auto;
  outline: none;
  resize:none;
  width:590px;
  margin-bottom:10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color:#0197f6;
  font-size: 20px;
  padding:5px;
}

#typeio_body
{
  background-color: #0f0f0f;
  border: none;
  overflow: auto;
  outline: none;
  resize:none;
  width:590px;
  margin-bottom:20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height:250px;
  color:#0197f6;
  font-size: 20px;
  padding:5px;
  font-family: 'Josefin Sans', sans-serif;
}
