<p id="notice"><%= notice %></p>

<p>
  <strong>Num posts:</strong>
  <%= @bulletin_board.num_posts %>
</p>

<%= link_to 'Edit', edit_bulletin_board_path(@bulletin_board) %> |
<%= link_to 'Back', bulletin_boards_path %>
