#typeio-list-container{
}

#typeio-list-info{
  padding:0px;
}

#typeio-list{
}

#bulletin-board-left-menu
{
  margin-left: 10px;
  margin-bottom:-36px;
  float:left;
}
.notice-r{
  color:red;
}

.typeio-cell{
  background-color: #111111;
  word-wrap: break-word;
  float:left;
  margin:10px;
  width:21.8%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.typeio-cell-pinned
{
  border:2px solid #0197f6;
  margin:8px;
}

.typeio-cell p
{
  color:#0197f6;
  margin-bottom:15px;
  margin-top:0px;
}

.typeio-date p
{
  font-size: 16px;
}

.typeio-body p
{
  font-size: 20px;
  line-height: 1em;
}

.typeio-subject p
{
  font-size:28px;
  margin-bottom:5px;
}

.typeio-delete-button
{
  width:100px;
  text-align: center;
  margin:5px;
  border-radius: 2px;
  background-color: #d7263d;
  float:left;
}

#typeio-button-container
{
  display: block;
  float: left;
  width:100%;
}

#header-typeio-button-new
{
  float:left;
  height:42px;
  margin-right:15px;
  z-index: 1000;
  position: relative;
  cursor: pointer;
}

#header-typeio-button-new path
{
  fill:#0197f6;
}

#menu-button
{
  float:left;
  height:42px;
  margin-right:15px;
  z-index: 1000;
  position: relative;
  cursor: pointer;
}

#menu-button path
{
  fill:#0197f6;
}

#typeio-like-container
{
  background-color: #0197f6;
  border-radius:5px;
  min-width: 95px;
  padding-left: 5px;
  padding-right:5px;
  padding-top: 5px;
  float:left;
}

#like-button path, #dislike-button path
{
  fill: #FFFFFF;
}

#typeio-like-container p
{
  color:#FFFFFF;
  float:left;
  font-size:24px;
  margin-right:10px;
  margin-left:5px;
  margin-top:3px;
  margin-bottom: 0px;
  padding:0px;
}

#typeio-info-button-container
{
  padding:5px;
  float:left;
}

#typeio-user-buttons
{
  float:right;
  padding:5px;
  padding-right:0px;
}

#delete-button path
{
  fill: red;
}

.typeio-button path
{
  fill: #0197f6;
}

.typeio-button
{
  height:30px;
}

#sort-container
{
  float:left;
  width:100%;
  margin-top:10px;
  margin-left:10px;
}

#sort-likes-button, #sort-date-button
{
  float:left;
  margin-right:10px;
}

#sort-likes-button input, #sort-date-button input
{
  width:150px;
  height:35px;
  font-size: 24px;
  background-color: #0f0f0f;
  border:none;
  padding:3px;
  padding-bottom: 5px;
  color:#68c5db;
  cursor: pointer;
  float:right;
  border-radius: 5px;
}

#typeio-pinned-badge-container
{
  float:right;
}
