#typeio-list-container{
}

#typeio-list-info{
  padding:0px;
}

#typeio-list{
}

#bulletin-board-right-menu
{
  float:right;
  margin-top:-10px;
  margin-bottom:-10px;
  margin-right: 25px;
}

#bulletin-board-left-menu
{
  margin-left: 10px;
  margin-bottom:-36px;
  float:left;
}

.typeio-cell{
  background-color: #111111;
  word-wrap: break-word;
  float:left;
  margin:10px;
  width:21.8%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.typeio-cell p
{
  color:#0197f6;
  margin-bottom:15px;
  margin-top:0px;
}

.typeio-date p
{
  font-size: 28px;
}

.typeio-body p
{
  font-size: 24px;
  line-height: 1em;
}

.typeio-button
{
  width:100px;
  text-align: center;
  background-color: #0197f6;
  margin:5px;
  border-radius: 5px;
  float:left;
}

.typeio-delete-button
{
  width:100px;
  text-align: center;
  margin:5px;
  border-radius: 2px;
  background-color: #d7263d;
  float:left;
}

#typeio-button-container
{
  margin-left: 9px;
  display: block;
  float: left;
}

.typeio-button p, .typeio-delete-button p, .typeio-button a, .typeio-delete-button a
{
  margin:5px;
  padding:0px;
  color: #000000;
}

.typeio-button-show
{

}

.typeio-button-new
{
  background-color: #0197f6;
  border-radius: 10px;
  float:left;
  padding:8px;
  padding-top:10px;
  z-index: 1000;
  position: relative;
}
.typeio-button-new img
{
  float:left;
  height:22px
}

.typeio-button-new a
{
  color:#FFFFFF;
  font-size: 22px;
  font-weight: bold;
}

#menu-button
{
  float:left;
  height:42px;
  margin-right:15px;
  z-index: 1000;
  position: relative;
}
