#group-list-container
{
  width: 600px;
  margin-top:50px;
  margin-left: auto;
  margin-right:auto;
  padding:10px;
  background-color: #222222;
}

.group-cell
{
    background-color: #111111;
    width:580px;
    float:left;
    padding:5px;
    margin:5px;
}

.group-button-container
{
  float:right;
  padding-top:7px;
  padding-right:5px;
}

.group-name-container
{
  float:left;
}
