/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

color palette:
#0c1e1b -
#68c5db -
#0197f6 -
#d7263d - red
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body
{
  background-image: url("corkboard-background.png");
  background-color: #0c1e1b;
  margin:0px;
  font-family: 'Josefin Sans', sans-serif;
}

 h1, h2, h3, p, a, label, input
 {
   font-family: 'Josefin Sans', sans-serif;
 }

 p, label
 {
   color:#68c5db;
 }

 a
 {
   color:#0197f6;
   text-decoration: none;
 }

 a:hover
 {
   color:#EEEEEE;
   text-decoration: none;
   background-color: none;
 }

 h1, h2, h3
 {
   color:#0197f6;
 }

 h1, h2, h3, h4, h5
 {
   margin:0px;
 }

 #important-text
 {
   color:#d7263d;
 }

 .med-glyph
 {
   width:27px;
   height:27px;
 }

 #header-container
 {
   height:65px;
 }

 #header
 {
   background-color: #222222;
   padding-top: 15px;
   padding-bottom:15px;
   float:left;
   width:100%
 }

 #header #title-container
 {
   text-align: center;
   width:100%;
   margin-left:auto;
   margin-right:auto;
   display:block;
   float:left;
 }

#header #title-container h1
{
     font-size: 36px;
     line-height: 1em;
}

 #header #header-logo-container
 {
   float:left;
   margin-bottom:-36px;
   margin-left:10px;
 }

#header-logo-container img
{
  height:30px;
}

#bulletin-board-right-menu
{
  float:right;
  width:180px;
  margin-top:-45px;
  margin-bottom:-10px;
  margin-right: 10px;
}

#header-user-name
{
  float:left;
}

#header-profile-image
{
  float:right;
}

#header-profile-image svg
{
  height:50px;
}

#sidebar-menu
{
  position: fixed;
  background-color: #222222;
  width:300px;
  height: 100%;
  list-style-type: none;
  padding-left: 0px;
  padding-top: 20px;
  margin-top: -65px;
}

#sidebar-menu li
{
  font-size: 32px;
  background-color: #0197f6;
  width:250px;
  margin-bottom:20px;
  padding:5px;
  padding-bottom:3px;
  color: #FFFFFF;
}

#sidebar-menu ul
{
  padding-left: 0px;
}

#header-profile-image svg path
{
  fill:#0197f6;
  float:right;
}

 #notice {
   color: green;
   margin:0px;
 }

 .field_with_errors {
   padding: 2px;
   background-color: red;
   display: table;
 }

 #error_explanation {
   width: 450px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 0;
   margin-bottom: 20px;
   background-color: #f0f0f0;

   h2 {
     text-align: left;
     font-weight: bold;
     padding: 5px 5px 5px 15px;
     font-size: 12px;
     margin: -7px;
     margin-bottom: 0px;
     background-color: #c00;
     color: #fff;
   }

   ul li {
     font-size: 12px;
     list-style: square;
   }
 }
