#typeio-list-container{
}

#typeio-list-info{
  padding:0px;
}

#typeio-list{
}

#typeio-header h1
{
  text-align: center;
  font-size: 36px;
}

.typeio-cell{
  background-color: #111111;
  border:4px solid #222222;
  word-wrap: break-word;
  float:left;
  margin:10px;
  width:20%;
  padding: 5px;
}

.typeio-username p, .typeio-date p
{
  margin-top:10px;
  margin-bottom: 0px;
}

.typeio-body p
{
  font-size: 24px;
  line-height: 1em;
}

.typeio-button
{
  width:100px;
  text-align: center;
  background-color: #0197f6;
  margin:5px;
  border-radius: 5px;
  float:left;
}

.typeio-delete-button
{
  width:100px;
  text-align: center;
  margin:5px;
  border-radius: 2px;
  background-color: #d7263d;
  float:left;
}

#typeio-button-container
{
  margin-left: 9px;
  display: block;
  float: left;
}

.typeio-button p, .typeio-delete-button p, .typeio-button a, .typeio-delete-button a
{
  margin:5px;
  padding:0px;
  color: #000000;
}

.typeio-button-new
{
  background-color: #0197f6;
  text-align: center;
  border-radius: 2px;
  float:left;
  padding:7px;
}

.typeio-button-new a
{
  margin:5px;
  color:#FFFFFF;
  text-align: center;
  font-size: 16px;
  padding:5px;
}
