#typeio-list-container{
  float:left;
}

#typeio-list-info{
  padding:0px;
  float:left;
}

#typeio-list-info div{
  width:200px;
  float: left;
  margin:10px;
}

#typeio-list{
  float:none;
}

.typeio-cell{
  float:left;
}

.typeio-cell .typeio-list-username, .typeio-list-body, .typeio-list-date{
  width:200px;
  float:left;
  word-wrap: break-word;
  margin:10px;
}

.typeio-button{
  width:100px;
  border:1px solid black;
  text-align: center;
  float:left;
}

.typeio-button p{
  margin:5px;
  padding:0px;
}

.typeio-button-new{
  width:100px;
  border:1px solid black;
  text-align: center;
  float:left;
}

.typeio-button-new p{
  margin:5px;
  padding:0px;
}
