.center{
  position:absolute;
  color:#fff;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
}

#welcome-banner
{
  background-color: #222222;
  width:100%;
}

#welcome-banner h1
{
  font-size: 54px;
  margin-bottom: 20px;
}

#welcome-banner h3
{
  font-size: 36px;
}

#welcome-buttons
{
  margin: 0 auto;
}

#welcome-buttons h3
{
  display:inline;
  margin-right:40px;
}

#welcome-buttons img
{
  margin-left:40px;
}
