<div id="header-container">
  <div id="header">
    <div id="header-logo-container">
      <%= image_tag 'logo-full-blue-large.png', id:'header-logo' %>
    </div>
    <div id="title-container">
      <h1>Login</h1>
    </div>
  </div>
</div>
