<div class = "center" id="welcome-banner">

	<h1>Welcome to TypeIO</h1>
	<h5><%= link_to 'Log in', new_user_session_path %></h5>
	<h5><%= link_to 'Register',  new_user_registration_path  %></h5>
	
</div>
