#register-container
{
  width: 600px;
  margin-top:50px;
  margin-left: auto;
  margin-right:auto;
  padding:10px;
  background-color: #222222;
}

#register-container label
{
  font-size: 24px;
}

#register-container .field
{
  margin-top: 10px;
}

#register-container input
{
  width:600px;
  height:30px;
  font-size: 24px;
  background-color: #0f0f0f;
  border:none;
  padding:3px;
  color:#68c5db;
  cursor: pointer;
}

#register-container em
{
  color:#999999;
}

#remember-me-container input
{
  height:auto;
  width:auto;
}

#signup-button
{
  margin-top:20px;
}

#signup-button, #signup-button input
{
  width:90px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  background-color:#0197f6;
  color:#FFFFFF;
  padding:5px;
  border-radius: 5px;
}
