<div id="header-container">
  <div id="header">
    <div id="bulletin-board-left-menu">
      <div style="height:42px; float:left;" onclick="showSidebarMenu()">
        <%= image_tag 'icons/menu-1.svg', id:"menu-button", class:"svg", href:"javascript:void(0);", onclick:"showSidebarMenu()"%>
      </div>
    </div>
    <div id="title-container">
      <h1>BOARD NAME</h1> <!--Placeholder, replace with erb code that renders the proper board name-->
    </div>
  </div>
</div>
